include ../mixins/nav
extends layout

block includes
  != css('app')

block content
  h1#beg List
  +nav({name: 'Borderly', link: '/app'}, {links: {href: '/create', text: 'create'}})
  .container
    .row
      .third
        each law in laws
          .law
            p id: 
              span.data #{law._id}
            p state: 
              span.data #{law.state}
            p section: 
              span.data #{law.section}
            p title: 
              span.data #{law.title}
            p county: 
              span.data #{law.county}
            p law: 
              span.data #{law.law}
            p.link
              a(href='/app/law/#{law._id}') Page
