extends layout

block includes
  != css('app')

block content
  h1 Law
  hr
  p.id id: #{law._id}
  p.state state: #{law.state}
  p.section section: #{law.section}
  p.title title: #{law.title}
  p.county county: #{law.county}
  p.law law: #{law.law}
